<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655997574190-dgfceu7dlfmenei3kgcllkl5889gaoid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655997574190-dgfceu7dlfmenei3kgcllkl5889gaoid</string>
	<key>API_KEY</key>
	<string>AIzaSyB3jTBvH23HfZeqdR652O4UBqgdGES_X90</string>
	<key>GCM_SENDER_ID</key>
	<string>655997574190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullah.HMM</string>
	<key>PROJECT_ID</key>
	<string>hmm-d0f42</string>
	<key>STORAGE_BUCKET</key>
	<string>hmm-d0f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:655997574190:ios:e89d1bb729f3a20c1dd3bf</string>
</dict>
</plist>
